{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenidos a nuestro proyecto de grafos</h1>
    <p class="lead">Ingrese los grafos aqui:</p>
    <hr class="my-4">
</div>

<head>
    <meta charset="utf-8">
</head>
<body>
    {{textolibre}}
    {% if resultado == null %}
    <form method="POST" action="/testform">
       number 1 : <input name="number1" type="number" />
       number 2 : <input name="number2" type="number" />
       <input type="submit">enviar</head>
    </form>
    {% else %}
    el resultado es {{resultado}}
    {% endif %}

</body>
{% endblock %}
